<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bdc9b9ba-f970-4734-ae25-f34da09868e5/resourcegroups/sham-rg/providers/Microsoft.Web/sites/Quran-Sunnah-BackendAI</ResourceId>
    <ResourceGroup>sham-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/bdc9b9ba-f970-4734-ae25-f34da09868e5/resourceGroups/sham-rg/providers/Microsoft.ApiManagement/service/Quran-Sunnah-BackendAIapi/apis/Quran-Sunnah-BackendAI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quran-sunnah-backendai.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2cd95149-9eb4-4865-8af5-b32a7cae1b26</ProjectGuid>
    <MSDeployServiceURL>quran-sunnah-backendai.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Quran-Sunnah-BackendAI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Quran-Sunnah-BackendAI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfSetocsAI0KkfIwe3dyjnQAAAAACAAAAAAADZgAAwAAAABAAAAApJYiLUnX68Gzhe+zvVKbhAAAAAASAAACgAAAAEAAAAIVVTKLU0+3Qa1U7aIT9gvGYAAAABq0ou0FEtzDJa2GX80cPrxZBhrMlNvDfS9CEWFNGe9psgP8CQzAhciLNb+FZyG+W+gu6hb9/azxZqaomeXk2YMUpgUMniEGNCSjYc6DBFlZiOX029ryl7LDQAJTCv873B8uwedWQbrj/mLeuv0Fd/x3SDm8zCIyPomwVqubzDyjBMQXTAPby2RvxrwA51K7odQz3q1Zf8nwUAAAAS0rFlaCJkdwWegSzLNaIFXOrIb0=</EncryptedPassword>
    <History>False|2024-02-28T23:45:57.2264080Z;False|2024-02-29T00:09:42.9729344+08:00;True|2024-02-25T20:30:23.1819815+08:00;</History>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>